.App {
  text-align: center;
}


nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(231, 96, 119);
  color:rgb(73, 72, 72)
}

.navLinks{
width: 40%;
display: flex;
list-style: none;
justify-content: space-around;
align-items: center;
}

img {
    
    border-radius: 8px;
    width:  200px;
    height: 200px;
    margin-left: 20px;
    float: left ;
    display: block;
    transform: translate( -10%,10%);    

}
